@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  margin:0;
  padding:0;
  border:0;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Header and Navbar */
.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}
.header a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
  letter-spacing: 2px;
}
.header a.logo {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  color: #3b7d8c;
}
.header a:hover {
  background-color: #ddd;
  color: black;
}
.header a.active {
  background-color: #75b2bf;
}
.header-right {
  float: right;
}

.community-icons { /* Icons */
  display: block;
}
.link-style { /* Tel numbers and email links colour */
  color: #1a75ff;
  letter-spacing: 2px;
  font-size: large;
}

.animation-image{
  height:600px;
  width: 2341px;
  animation-name: hero-zoom;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}
.animation-outer {
  height:600px;
  width: 2341px;
  overflow: hidden;
}
@keyframes hero-zoom {
  from{
      transform: scale(1);
  }
  to{
      transform: scale(1.1);
  }
}

/* Break points for Header and Navbar */
@media screen and (max-width: 899px) {
  .header a {
    letter-spacing: 0px;
    display: block;
    font-size: 16px;
  }
  .header a.logo {
    letter-spacing: 0px;
    font-size: 35px;
  }
}
@media screen and (max-width: 704px) {
  .header a {
    float: none;
    display: block;
    letter-spacing: 4px;
    text-align: center;
    line-height: 15px;
  }
  .header-right {
    float: none;
  }
  .header a.logo {
    letter-spacing: 4px;
    line-height: 15px;
  }
  .header {
    padding: 10px;
  }
}
/* Hero image under navbar */
.img-fluid {
  width: 100%;
  object-fit: cover;
  max-height: 600px;
}
/* Main box for flight serach */
#main {
  width: 100%;
  padding: 5px;
  background-color: #ceecf2;
}
#main h2 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/******************************************************* Contact Us page ******************************************************/
/******************************************************************************************************************************/

#contact-main {
  background-color: lightgray;
  margin-top: 20px;
  border: 2px solid #eee;
  border-radius: 18px;
}
.main-padding {
  padding: 30px;
  
}
/* Three boxes of how to contact us */
.box {
	background-color: #eee;
	margin-bottom: 7px;
	text-align: center;
	border: 2px solid #eee;
    border-radius: 18px;
}

/* Three images in boxes */
.call-us {
	margin: 10px;
	border: 5px solid white;
}

.box, h2 {
	padding-top: 8px;
}

/* Break points for text in boxes */
@media screen and (max-width: 800px) {
  .call-us {
    margin: 2px;
	border: 2px solid white;  
  }
   .box, h2 {
	padding-top: 0px;
}

}

/******************************************************* About Us page ******************************************************/
/******************************************************************************************************************************/

/* heading for custome reviews */
.review-heading, h1 {
  text-align: center;
  letter-spacing: 4px;
  font-size: 30px;
}

/* three boxes with reviews and images */
.col {
  border: 2px solid #eee;
  border-radius: 18px;
  background-color: #eee;
  text-align: center;
  margin-right: 5px;
}
.review {
  height: 90px;
  margin-top: 5px;
  border-radius: 50%;
}

/* Break points for text above review boxes */
@media screen and (max-width: 704px) {
  .review-heading, h1 {
    letter-spacing: 0px;
    font-size: 25px;
  }
}

.review-body {
	margin-top: 10px;
	background-color: #eee;
	border: 2px solid #eee;
	border-radius: 18px;
	padding: 15px;
}

.lower-image {
	margin: 10px 0 10px 0;
	border: 5px solid #eee;
}


/** Footer and Social links **/

footer {
  padding: 0px;
  background-color: #3b7d8c;
  color: white;
  height: 95px;	
}

.links-style {
  width: 45px;
  height: 45px;
}

.copyright {
  text-align: center;
  font-size: 18px;
  margin: 0;
  padding: 5px 0 5px 0;
}

.social-links-hover {
  color:white;
}
.social-links-hover:hover {
  color: #E69C95;
}

.social-items {
  background-color: #3b7d8c;
  border: 0;
}
/* Hide the social links text */
.sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
      }


